/* body {
} */

div.img-container {
  perspective: 1000px;
}

#pikachu {
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  /* transform-origin: right; */
  transform-origin: right;
  transition: transform 1s ease;
}

#pikachu:hover {
  /* transform: skewX(30deg) skewY(30deg); */
  /* transform: translateZ(400px); */
}

div.img-container:hover #pikachu {
  transform: rotateY(180deg);
}